<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {{ block "head-about" . }}
            <title>{{ if .Title }}{{ .Title }} :: {{ end }}Design Tech Tutoring</title>
        {{ end }}

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-orange.min.css"> 
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        
        {{ block "head-firebase-init" . }}
            <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
            <script>
                // Initialize Firebase
                var config = {
                    apiKey: "AIzaSyAqL0CwH3s1FwnuxL2RwZBSEp5SOrqXLHc",
                    authDomain: "design-tech-tutoring.firebaseapp.com",
                    databaseURL: "https://design-tech-tutoring.firebaseio.com",
                    projectId: "design-tech-tutoring",
                    storageBucket: "design-tech-tutoring.appspot.com",
                    messagingSenderId: "967509109741"
                };
                firebase.initializeApp(config);
            </script>
        {{ end }}

        {{ block "head-scripts-custom" . }}{{ end }}
    </head>

    <body>
        {{ block "body" . }}
            <!-- Always shows a header, even in smaller screens. -->
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
                <header class="mdl-layout__header">
                    <div class="mdl-layout__header-row" style="padding: 0 16px 0 32px;">
                        {{ block "header-contents" . }}
                            <!-- Title -->
                            <span class="mdl-layout-title">{{ .Title }}</span>
                            <!-- Add spacer, to align navigation to the right -->
                            <div class="mdl-layout-spacer"></div>
                            <!-- Navigation. We hide it in small screens.
                            <nav class="mdl-navigation mdl-layout--large-screen-only">
                                <a class="mdl-navigation__link" href="">Link</a>
                                <a class="mdl-navigation__link" href="">Link</a>
                                <a class="mdl-navigation__link" href="">Link</a>
                                <a class="mdl-navigation__link" href="">Link</a>
                            </nav>-->

                            <!-- Raised button with ripple 
                            <a href="/request.html" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">NEW REQUEST</a>
                            -->

                            <a href="/login/">
                                <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg" style="width: 40px; height: 40px; border-radius: 20px;">
                            </a>
                            
                        {{ end }}
                    </div>
                </header>

                <main class="mdl-layout__content">
                    {{ block "main" . }}
                        
                    {{ end }}
                </main>
            </div>
        {{ end }}
    </body>
</html>
